doctype html
html(lang='pt-br')
  head
    title= 'Tapete Redondo em Crochê' + ' - Rak Crôche'
    link(rel='stylesheet', href='/css/styles.css')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    .container.mt-5
      .d-flex.justify-content-between.align-items-center.mb-4
        a.btn.btn-secondary(href='/index.html') ⬅ Voltar para a Loja

        a.btn.btn-outline-dark(href='/carrinho.html')
          i.bi-cart-fill.me-1
          | Carrinho
          span#cart-count.badge.bg-dark.text-white.ms-1.rounded-pill 0

      .row
        .col-md-6
          img.img-fluid(src='/assets/007.jpeg', alt='Tapete Redondo em Crochê')
        .col-md-6
          h1= 'Tapete Redondo em Crochê'
          h3.text-danger R$ 40.00
          p.mt-3= 'Tapete Redondo em Crochê'
          a.btn.btn-outline-dark.mt-auto.add-to-cart(href='#' data-id='7') Adicionar ao Carrinho

    script(src='/js/cart.js')
